body{
    border: 1px dashed black;
    height: 98vh;
    background-image: url(imagens/pattern001.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center center;
}