body{
    height: 100vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; /*Também tem a possibilidade de usar o contain, porém ele pode gerar áreas sem a imagem*/
}

main{
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid black;
}