@charset "UTF-8";
@font-face {
    font-family: 'space';
    src: url(fonts/Space\ Crusaders.otf) format(opentype); src: url(fonts/Space\ Crusaders.ttf) format(truetype);
}

h1{
    background-color: lightgray;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin: auto; /*Margin auto serve para deixar a caixa alinhada no centro do site*/
}